---
import BagiKelompok from '../../components/simplePrograms/BagiKelompok';
import Layout from '../../layouts/Layout.astro';
import Container from '../../components/Container.astro';
---

<Layout title="Bagi kelompok acak - Andndre">
	<h1>Bagi Kelompok Acak</h1>
	<br />
	<br />
	<Container>
		<BagiKelompok client:load />
	</Container>
</Layout>
