---
import Layout from '../../layouts/Layout.astro';
import Container from '../../components/Container.astro';
---

<Layout title="Bagi kelompok acak - Andndre">
	<h1>Hitung Nilai Tugas Akhir</h1>
	<br />
	<br />
	<Container>
		<h2>Coming soon</h2>
	</Container>
</Layout>
