---
import Layout from '../../layouts/Layout.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import Container from '../../components/Container.astro';
---

<Layout
	title="Bagi kelompok acak - Andndre"
	desc="Program sederhana untuk menghitung hasil nilai tugas akhir"
>
	<Breadcrumbs />
	<h1>Hitung Nilai Tugas Akhir</h1>
	<br />
	<br />
	<Container>
		<h2>Coming soon</h2>
	</Container>
</Layout>
