---
import Layout from '../../layouts/Layout.astro';
import BlueRedBackground from '../../components/BlueRedBackground.astro';
import Container from '../../components/Container.astro';
import Tooltip from '../../components/Tooltip.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import { filterBlogsThatUnPublished } from '../../util/blogs';

const allBlogsInServer = await Astro.glob('./*.mdx');
const blogs = await filterBlogsThatUnPublished(allBlogsInServer);
---

<Layout title="Andndre - Blog" desc="Agung Andre's blogs page">
	<Breadcrumbs />
	<BlueRedBackground>
		<h1>Welcome to Blogs</h1>
		<Container lessMargin className="description">
			<p>This is my blog page</p>
		</Container>
	</BlueRedBackground>
	<section id="blog-list">
		<Container className="blog-list-container">
			{
				blogs.map((blog) => {
					return (
						<div class="blog-card">
							<h3>{blog.frontmatter.title}</h3>
							<div class="info">
								<p>
									Published at
									{new Date(
										Date.parse(blog.frontmatter.created_at)
									).toLocaleDateString('id')}
								</p>
								<p>By Agung Andre</p>
							</div>
							<p>{blog.frontmatter.preview}</p>
							<div class="read-more">
								<Tooltip text="Read more about this blog">
									<a title="read more" href={blog.url} class="btn">
										Read more
									</a>
								</Tooltip>
							</div>
						</div>
					);
				})
			}
		</Container>
	</section>
</Layout>

<style>
	.info {
		display: flex;
		justify-content: space-between;
	}
	.info p {
		text-align: left;
	}
	.blog-card {
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
	}
	.read-more {
		margin-left: auto;
	}
	.btn {
		max-width: 8rem;
		text-align: center;
	}
	.blog-list-container {
		display: flex;
		flex-direction: column;
		gap: 1.2rem;
	}
</style>
