---
import Layout from '../layouts/Layout.astro';
import Breadcrumbs from '../components/Breadcrumbs.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Andndre - Contact">
	<Breadcrumbs />
	<h1>Contact me</h1>
	<Contact />
</Layout>
