---
import Container from '../components/Container.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
	title="Under maintenance"
	desc="This page is unavailable at the moment."
>
	<Container>
		<h1>Under Maintenance</h1>
		<p>This page is unavailable at the moment.</p>
	</Container>
</Layout>
