<div>
	<slot />
</div>

<style>
	div {
		background: radial-gradient(
				circle at top left,
				rgba(63, 94, 251, 0.363) 0%,
				rgba(255, 255, 255, 0) 100%
			),
			radial-gradient(
				circle at bottom right,
				rgba(251, 63, 63, 0.322) 0%,
				rgba(255, 255, 255, 0) 100%
			);
	}
</style>
