---
export interface Props {
	lessMargin?: boolean;
	className?: string;
}

const { lessMargin = false, className = '' } = Astro.props as Props;
---

<div class={`container ${lessMargin && 'less'} ${className}`}>
	<slot />
</div>

<style>
	.container {
		margin: 0px auto;
		max-width: 1080px;
		padding: 1rem 2rem;
	}
	.container.less {
		max-width: 1600px;
	}
</style>
