<form
	action="mailto:agungandre687@gmail.com"
	method="post"
	enctype="text/plain"
	id="form"
>
	<label for="email">E-Mail</label>
	<input required id="email" name="email" type="email" />
	<label for="message">Message</label>
	<textarea required name="message" id="message" cols="30" rows="10"></textarea>
	<button type="submit">Send</button>
</form>
<style>
	button {
		padding: 0.2rem 0.4rem;
		background: var(--primary);
		color: var(--not-so-white);
		font-weight: bold;
		border-radius: 0.3rem;
	}
</style>
