---
import Container from './Container.astro';
---

<section id="footer">
	<Container lessMargin className="footer-container">
		<p>Copyright &copy; 2022 Andndre. All Rights Reserved</p>
		<p>v0.0.1 Alpha</p>
	</Container>
</section>
<style>
	.footer-container {
		display: flex;
		justify-content: space-between;
	}
</style>
