---
export interface Props {
	text: string;
}

const { text } = Astro.props as Props;
---

<div data-tooltip={text}><slot /></div>

<style>
	[data-tooltip]:before {
		margin-top: 2rem;
		position: absolute;
		content: attr(data-tooltip);
		padding: 0.4rem 0.8rem;
		border-radius: 0.2rem;
		opacity: 0;
		border: 1px solid var(--lighter-black);
		transition: opacity 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
		transition-delay: 200ms;
		background: var(--not-so-black);
		color: var(--not-so-white);
		pointer-events: none;
	}
	[data-tooltip]:hover:before {
		opacity: 1;
	}
</style>
