---
export interface Props {
	text: string;
}

const { text } = Astro.props as Props;
---

<div class="tooltip"><slot /><span>{text}</span></div>

<style>
	span {
		position: absolute;
		margin-top: 0.5rem;
		transition: opacity 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
		transition-delay: 1000ms;
		opacity: 0;
		padding: 0.4rem 0.8rem;
		background: var(--not-so-black);
		color: var(--not-so-white);
		border-radius: 0.2rem;
		pointer-events: none;
		border: 1px solid var(--lighter-black);
		margin-left: -60px;
	}
	.tooltip:hover span {
		opacity: 1;
	}
</style>

<!-- <script>
	const component = document.getElementById('tooltip');
</script> -->
