---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Andndre - Link" desc="A simple link shortener">
	<h1>Link shortener coming soon</h1>
	<!-- <label for="slug">Slug</label>
	<input id="slug" type="text" />
	<label for="url">URL</label>
	<input id="url" type="text" /> -->
</Layout>

<style></style>
