---
import NavBar from '../components/NavBar.astro';
import Footer from '../components/Footer.astro';

export interface Props {
	title: string;
	desc: string;
}

const { title, desc } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/ico.jpg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={desc} />
		<title>{title}</title>
	</head>
	<body>
		<NavBar />
		<div class="nav-margin"></div>
		<slot />
		<Footer />
		<style is:global>
			/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap'); */

			:root {
				--background: #120f0f;
				--primary: #5484ff;
				--not-so-black: rgb(19, 19, 19);
				--lighter-black: rgb(49, 49, 49);
				--not-so-white: rgb(233, 233, 233);
			}
			*,
			*::after,
			*::before {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}
			html {
				font-family: system-ui, sans-serif;
				background-color: var(--background);
				color: white;
				scroll-behavior: smooth;
			}
			a {
				text-decoration: none;
				color: var(--not-so-white);
			}

			p {
				color: var(--not-so-white);
				text-align: justify;
			}

			.nav-margin {
				padding-top: 56px;
			}

			.btn {
				padding: 0.3rem 0.6rem;
				background: var(--primary);
				border-radius: 0.4rem;
			}
			h1 {
				z-index: -1;
				text-align: center;
				position: relative;
				line-height: 3rem;
				padding: 0 2rem;
				padding-top: 12rem;
				font-size: 3rem;
				animation: slide-up 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
			}
			.description {
				display: flex;
				justify-content: center;
			}
			h2 {
				text-align: center;
				font-size: 2rem;
			}
			h3 {
				font-size: 1.5rem;
			}
			section {
				background: var(--background);
				border: 1px solid var(--lighter-black);
			}
			form {
				background: var(--not-so-black);
				border: 1px solid var(--lighter-black);
				border-radius: 1rem;
				padding: 1rem;
				display: flex;
				width: 100%;
				flex-direction: column;
				gap: 0.4rem;
				max-width: 720px;
			}
			label {
				font-weight: bold;
			}
			input,
			textarea {
				color: var(--not-so-white);
				background: var(--not-so-black);
				border: 1px solid var(--lighter-black);
				padding: 0.2rem 0.4rem;
				border-radius: 0.3rem;
				resize: none;
			}
			table {
				border: 1px solid var(--lighter-black);
			}

			table th {
				color: white;
				background: var(--primary);
			}
			.astro-code {
				padding: 1rem;
				border-radius: 0.5rem;
			}

			.flex {
				display: flex;
				gap: 3rem;
				align-items: center;
			}
			.flex > * {
				flex: 1;
			}
			.flex img {
				width: 100px;
			}
			.card {
				width: 100%;
				background: var(--not-so-black);
				text-align: center;
				padding: 2rem 1rem;
				border: 1px solid var(--lighter-black);
				border-radius: 1rem;
			}
			.red {
				background: red;
			}
			@media screen and (max-width: 1400px) {
				h1 {
					font-size: 2.3rem;
					line-height: 2.3rem;
				}
				h2 {
					font-size: 1.5rem;
				}
				h3 {
					font-size: 1.4rem;
				}
				p {
					font-size: 0.9rem;
				}
			}

			@media screen and (max-width: 720px) {
				h1 {
					font-size: 1.8rem;
					line-height: 1.8rem;
					text-align: center;
					animation: fade 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
				}
				h2 {
					font-size: 1.4rem;
				}
				h3 {
					font-size: 1.1rem;
				}
				p {
					font-size: 0.8rem;
				}
				.flex {
					flex-direction: column;
				}
				.flex > *,
				.flex img {
					width: 100%;
				}
			}

			@keyframes fade {
				0% {
					opacity: 0;
				}

				100% {
					opacity: 1;
				}
			}

			@keyframes slide-up {
				0% {
					translate: 0 100vh;
				}
				100% {
					translate: 0 0;
				}
			}

			/* code {
				font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
					DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
			} */
		</style>
	</body>
</html>
