#hero {
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 1) 0%,
		rgba(237, 237, 237, 1) 100%
	);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#hero h1 span {
	font-size: 0.5em;
	color: var(--white-color);
	font-weight: normal;
	background: var(--primary-color);
	/* border-radius: 0.3rem; */
}

@media (min-width: 1024px) {
	#hero p {
		letter-spacing: 2em;
		font-size: 1.4em;
	}
	#nav-bar .item {
		display: block;
	}
}

@media (min-width: 768px) {
	#hero p {
		letter-spacing: 1.5em;
		font-size: 1.35em;
	}
}

@media (prefers-color-scheme: dark) {
	#hero {
		background: radial-gradient(circle, rgb(26, 26, 26) 0%, rgb(0, 0, 0) 100%);
	}
}
