/* lg */
@media (min-width: 1024px) {
	h1 {
		font-size: 4em;
	}
	h2 {
		font-size: 2.5em;
	}
	p {
		font-size: 1.2em;
	}

	.page-wrapper {
		padding-top: 41px;
	}

	#nav-bar .item {
		display: block;
	}

	.nav-items.mobile {
		display: none;
	}

	.nav-items.desktop {
		display: flex;
		gap: 45px;
	}

	.nav-item-left {
		gap: 45px;
		align-items: center;
		display: flex;
		flex-direction: row;
	}
}
