/* md */
@media (min-width: 768px) {
	h1 {
		font-size: 3.5em;
	}
	h2 {
		font-size: 2em;
	}
	p {
		font-size: 1.2em;
	}

	.section-flex-reverse {
		display: flex;
		flex-direction: row-reverse;
		gap: 1.5em;
	}

	.section-flex-reverse .left,
	.section-flex-reverse .right {
		flex: 1;
	}
}
